.Card-Retangular{
    width: 30.9em;
    height: 50%;
    box-shadow: 0px 0px 14px 1px #ADADAD40;
    border-radius: .5em;
    margin-top: 2em;
}
.Center{
    height: 45em;
    display: flex;
    justify-content: center;
    align-items: center;
    h1{
        color: #646464;
        margin-left: 1.5em;
        font-weight: 500;
    }
}